<link type="text/css" rel="stylesheet" href="~/assets/css/style.css">
    

<body>

    <main>
        <section class="banner">
            <div class="sliders">
                <div class="slide">
                    <div class="slideArea" id="slideArea1">
                        <h1>
                            <span>HMS</span>
                        </h1>
                      <a class="button" href="@Url.Action("Index", "AboutUsContent")">Rreth Nesh</a>

                    </div>
            </div>
        </section>

       <section class="default light" id="aboutus">
    <div class="section-title">About Us</div>
    <div class="section-desc">Who are we?</div>
    <div class="section-body">
        <div class="section-aboutUs">
            <div class="section-aboutUs-left">
                Our clinic also provides pediatric neurological services, obstetric gynecological care, urological, cardiological, pulmonological, gastroenterological, radiological, psychological, allergological services, and family medicine.
                <br />
                <a class="button" href="@Url.Action("Index", "AboutUsContent")">Read more about us</a>
             
            </div>
            <div class="section-aboutUs-right">
                <img src="~/assets/images/dep4.jpg" alt="Happy People">
            </div>
        </div>
    </div>
</section>

        <section class="default dark" id="services">
            <div class="section-title">Cilat janë shërbimet dhe cilësitë tona</div>
            <div class="section-desc">Shqetësimet e juaja, përgjegjësia e jonë</div>
            <div class="section-body">
                <div class="section-services">
                    <div class="section-service">
                        <img src="./assets/images/icon1.png" />
                        <h4>Staf Profesional</h4>
                        <p>Stafi i ynë është i përbërë nga specialist të fushave të ndryshme, të nivelit të lartë akademik dhe me përvojë shumë-vjeqare.</p>
                    </div>
                    <div class="section-service">
                        <img src="./assets/images/icon2.png" />
                        <h4>Raste Emergjente</h4>
                        <p>Për juve mbetet vetëm një thirrje telefonike në emergjencën tonë, dhe stafi ynë mjekësor për raste emergjente do të ofroj ndihmën dhe transportimin deri tek Spitali ynë.</p>
                    </div>
                    <div class="section-service">
                        <img src="./assets/images/icon3.png" />
                        <h4>Doktorë të Kualifikuar</h4>
                        <p>Doktor të kualifikuar në fushat përkatëse, njohës të thellë të lëmive dhe karierë të bujshme profesionale.</p>
                    </div>
                    <div class="section-service">
                        <img src="./assets/images/icon4.png" />
                        <h4>24/7 Kujdes Maksimal</h4>
                        <p>Për pacientët e hospitalizuar, mbikqyrje të vazhdueshme nga Doktorët kujdestarë, dhe stafi përcjellës. Gjithnjë me juve dhe afër juve.</p>
                    </div>
                </div>
            </div>
        </section>

       <section class="default light" id="departments">
    <div class="section-title">Departments</div>
    <div class="section-body">
        <div class="section-projects">
            <div class="section-projects--photos">
                <div class="section-projects--photo">
                    <div class="section-projects--photoArea">
                        <div class="section-projects--photoInfo">
                            <h3>Oncology</h3>
                            <a href="@Url.Action("Create", "Appointments")" class="button">Assign the Appointment</a>
                        </div>
                        <img src="./assets/images/dep1.jpg" />
                    </div>
                </div>
                <div class="section-projects--photo">
                    <div class="section-projects--photoArea">
                        <div class="section-projects--photoInfo">
                            <h3>Cardiology</h3>
                            <a href="@Url.Action("Create", "Appointments")" class="button">Assign the Appointment</a>
                        </div>
                        <img src="./assets/images/dep2.jpg" />
                    </div>
                </div>
                <div class="section-projects--photo">
                    <div class="section-projects--photoArea">
                        <div class="section-projects--photoInfo">
                            <h3>Orthopedics</h3>
                            <a href="@Url.Action("Create", "Appointments")" class="button">Assign the Appointment</a>
                        </div>
                        <img src="./assets/images/dep3.jpg" />
                    </div>
                </div>
                <div class="section-projects--photo">
                    <div class="section-projects--photoArea">
                        <div class="section-projects--photoInfo">
                            <h3>Radiology</h3>
                            <a href="@Url.Action("Create", "Appointments")" class="button">Assign the Appointment</a>
                        </div>
                        <img src="assets/images/gyn.jpg" />
                    </div>
                </div>
                <div class="section-projects--photo">
                    <div class="section-projects--photoArea">
                        <div class="section-projects--photoInfo">
                            <h3>Gastroenterology</h3>
                            <a href="@Url.Action("Create", "Appointments")" class="button">Assign the Appointment</a>
                        </div>
                        <img src="assets/images/stomatology.jpeg" />
                    </div>
                </div>
                <div class="section-projects--photo">
                    <div class="section-projects--photoArea">
                        <div class="section-projects--photoInfo">
                            <h3>Pediatrics</h3>
                            <a href="@Url.Action("Create", "Appointments")" class="button">Assign the Appointment</a>
                        </div>
                        <img src="assets/images/dep6.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        <section class="default dark bg-directors" id="doctors">
            <div class="section-directorsArea">
                <div class="section-title">Doktorët</div>
                <div class="section-desc">
                    Staf Profesional
                    Stafi i ynë është i përbërë nga specialist të fushave të ndryshme, të nivelit të lartë akademik dhe me përvojë shumë-vjeqare
                </div>
                <div class="section-body">
                    <div class="section-directors">
                        <div class="sliders">
                            <div class="slide">
                                <div class="slideArea" id="slideArea1">
                                    <img src="assets/images/dr1.jpg">
                                    <div class="section-director--name">Dr.Blerta Isufi</div>
                                    <div class="section-director--role">Mjeke Familjare</div>
                                    <div class="section-director--media">
                                        <a href="#"><img src="assets/images/linkedin.png" style="width: 11px"></a>
                                        <a href="#"><img src="assets/images/twitter.png" style="width: 11px"></a>
                                        <a href="#"><img src="assets/images/facebook.png" style="width: 7px"></a>
                                        <a href="#"><img src="assets/images/googleplus.png" style="width: 15px"></a>
                                        <a href="#"><img src="assets/images/pinterest.png" style="width: 11px"></a>
                                    </div>
                                </div>
                            </div><div class="slide">
                                <div class="slideArea" id="slideArea2">
                                    <img src="assets/images/dr3.png">
                                    <div class="section-director--name">Dr.Hana Macula</div>
                                    <div class="section-director--role">Stomatologe</div>
                                    <div class="section-director--media">
                                        <a href="#"><img src="assets/images/linkedin.png" style="width: 11px"></a>
                                        <a href="#"><img src="assets/images/twitter.png" style="width: 11px"></a>
                                        <a href="#"><img src="assets/images/facebook.png" style="width: 7px"></a>
                                        <a href="#"><img src="assets/images/googleplus.png" style="width: 15px"></a>
                                        <a href="#"><img src="assets/images/pinterest.png" style="width: 11px"></a>
                                    </div>
                                </div>
                            </div><div class="slide">
                                <div class="slideArea" id="slideArea3">
                                    <img src="assets/images/dr4.jpg">
                                    <div class="section-director--name">Odeta Çoçaj</div>
                                    <div class="section-director--role">Pediatre</div>
                                    <div class="section-director--media">
                                        <a href="#"><img src="assets/images/linkedin.png" style="width: 11px"></a>
                                        <a href="#"><img src="assets/images/twitter.png" style="width: 11px"></a>
                                        <a href="#"><img src="assets/images/facebook.png" style="width: 7px"></a>
                                        <a href="#"><img src="assets/images/googleplus.png" style="width: 15px"></a>
                                        <a href="#"><img src="assets/images/pinterest.png" style="width: 11px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
