<!-- Doctor Sidebar (DoctorSideBar.cshtml) -->
<div class="sidebar">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="@Url.Action("ManagePatients", "Doctor")" class="text-decoration-none text-dark">Connected Patients</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("ManagePatients", "Admin")" class="text-decoration-none text-dark">All Patients</a>
        </li>
        
         <li class="list-group-item">
             <a href="@Url.Action("SendNote", "Doctor")" class="text-decoration-none text-dark">Send Notes</a>
            </li>
<li class="list-group-item">
             <a href="@Url.Action("index", "Appointments")" class="text-decoration-none text-dark"> Appointments</a>
            </li>
            <li class="list-group-item">
            <a href="@Url.Action("MyAccount", "Doctor")" class="text-decoration-none text-dark">My Account</a>
        </li>
    </ul>
</div>
